<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>bananas</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
   </head>
   <body>
   <div class="row container">
         <h2 class="center">Splashy Splash</h2>
         <div class="row center">
            <a href="/signup"><button class="btn waves-effect waves-light center" type="submit">signup
          </button></a></br>
       </div>
       <div class="row center">
          <a href="/login"><button class="btn waves-effect waves-light center" type="submit">login
         </button></a>
      </div>
    </div>
   </body>
</html>
